.goal {
    text-align: center;
    padding: 68px 0;
    background: #fafafa;
    color: #333;
    margin-bottom: 100px;
}

.goal h2 {
    font-size: 60px;
    margin: 0;
    font-weight: bold;
}

.goal p {
    font-size: 37px;
    margin: 0;
}