@import './content/content.css';
@import './status.css';
@import './button.css';
@import './description.css';
@import './statistics.css';

.banner {
    width: 100%;
    height: 1586px;
    background: url('../../images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}